<div class="row mt-5">
    <div class="w-75 m-auto" style="max-width: 1000px;">
      <div class="card card-body text-center">

        <div class="d-flex justify-content-between">
          <p><a class="btn btn-dark bt-lg" href="/">Back</a></p>
          <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Create an account</h1>
          <p style="width: 7%;"></p>
        </div>
        
        <p><%- include('./partials/messages.ejs') %></p>
        <form action="/users/register" method="POST">

          <div class="form-floating registerInput">
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              value="<%= typeof name != 'undefined' ? name : '' %>"
              placeholder="Enter a username"/>
              <i class="fas fa-user fa-lg icon"></i>
          </div>

        <div class="form-floating registerInput">
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            value="<%= typeof email != 'undefined' ? email : '' %>"
            placeholder="Enter your email address"
          />
          <i class="fas fa-envelope fa-lg icon"></i>
        </div>

          <div class="form-floating registerInput">
            
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              value="<%= typeof password != 'undefined' ? password : '' %>"
              placeholder="Password"
            />
            <i class="fa fa-lock fa-lg icon"></i>
          </div>
          <div class="form-floating registerInput">
            
            <input
              type="password"
              name="password2"
              id="password2"
              class="form-control"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
              placeholder="Confirm the password"
            />
            <i class="fas fa-shield-alt fa-lg icon"></i>
          </div>
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <button
            type="submit"
            class="btn btn-primary btn-block btn-lg"
            style="margin-top: 1.2rem"
          >
            Register
          </button>
          </div>
        </form>
        <p class="lead mt-4">
          Already have an accont? <a href="/users/login">Login here</a>
        </p>
      </div>
    </div>
  </div>
</div>
